body,html {
    margin:0px;
    color:white;
    height:100%;
    font-family:sans-serif;
    background:black;
    max-width:100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* .header {
    background-image: url('../img/WD.PNG');
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-overflow-scrolling: touch
} */

.first {
    margin-top:-42px;
    background-color:#000;
    /* position: relative; */
    z-index:100;
    -webkit-overflow-scrolling: touch
}

h2 {
    font-size:50px;
    font-weight:normal;
    margin-left:100px;    
}

.hey {
    padding-top:200px;  
    margin-bottom:35%;
}

.wrong {
    margin-bottom:-20px;
}

.info {
    margin-left:100px;
    font-size:40px;
    margin-right:100px;
    font-weight:normal;
    margin-bottom:35%;
}

.skills {
    margin-left:100px;
    font-size:35px;
    list-style-type:none;
    margin-bottom:35%;
}

.projects {
    margin-bottom:35%;
}

.main-image {
    margin:100px;
    max-width:80vw;
}
a:link {
    color:#fff;
}
a:visited {
    color:#fff;
}
a:hover {
    color: #00f;
}
.sub {
    color: #444;
}

.availability {
    margin-right:100px;
    margin-bottom:35%;
}

.end {
    text-align:center;
}

@media only screen and (max-width: 1024px) {
    h2 {
        font-size:30px;
    }
    .info, .skills {
        font-size:25px;
    }

    .availability,.main-image,.skills,.info,.contact, h2 {
        margin-left:25px;
        margin-right:25px;
    }
    .sub {
        color: #555
    }
}