body {
    background-image: url('https://c1.staticflickr.com/2/1764/29290585748_98c170db35_k.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a:link, a:visited {
    color:#4c9cbc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.title {
    position: fixed;
    margin-top:100px;
    margin-left:100px;
}

#image-box {
    position:fixed;
    margin-top:400px;
    width:490px;
    margin-left:100px;
}

.box {
    background:#2f3436;
    color:#bccad5;
    padding:30px 30px 150px 30px;
    box-shadow: 5px 5px 5px black;
    border-radius: 0.5%;
    font-family: 'Courier New', Courier, monospace;
    font-size:13px;
    max-width:500px;
    line-height: 1.2;
    margin-right:20px;
}

.about {
    position: absolute;
    margin-left:750px;
    margin-top:55%;
}

.what-i-do {
    position: absolute;
    margin-left:750px;
    margin-top:110%;
    padding-bottom:30px;
}

.portfolio {
    position: absolute;
    margin-left:750px;
    margin-top:165%;
    padding-bottom:30px;
}

.contact {
    position: absolute;
    margin-left: 750px;
    margin-top: 215%;
    padding-bottom:30px;
    margin-bottom:100px;
}

.sp {
    position: absolute;
    height:50px;
    margin-top:230%;
}
@media screen and (max-width: 1170px) {
    .about,.what-i-do,.portfolio,.contact {
        margin-left:100px;
    }
    .title, #image-box {
        position: absolute;
    }
    #image-box {
        margin-top: 180%;
    }
}

@media screen and (max-width: 730px) {
    .box {
        margin:10px;
        padding:10px;
        font-size:14px;
        position: relative;
    }
    #image-box {
        margin:10px;
        position:relative;
        width:90%;
    }
}