<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>WRONG DESIGN APPAREL</title>
    <meta name="author" content="name">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The design and development work of Jacob Trafton Wright">
    <meta name="keywords" content="design, wrong, wrong design, jt wright, jt, wright, jacob">
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>
    <script src="../../../vue.min.js"></script>
    <script src="../../../hammer.min.js"></script>
    <script src="../../../vuetouch.min.js"></script>
    <div id="app" >
        <div class="box" 
        v-bind:style="{'margin-left':setMargin(),'margin-top':setMargin()}"
        v-for="project in projects">
                <img :src="project.src[srcNum % project.src.length]" ontouchstart="srcNum++; margin=0; flip=0" @mouseover="srcNum++;margin=0; flip=0;" :alt="project.title" class="shot">
                <div v-if="project.price" class="info"><span v-on:click="showDetails(project.id)" class="details">Details</span> | <span  class="buy">Cop this ({{project.price}})</span></div>
        </div>
        <div v-show="showDesc" class="shownDesc"><h1 class="descTitle" id="descTitle"></h1><br><div class="rest" id="rest"></div></div>
    </div>
</body>
<script src="script.js"></script>
</html>