.box,
.shot {
    max-width: 500px;
    height: 350px
}

#app,
body {
    font-family: monospace;
    flex-wrap: wrap;
    margin: 25px;
}

.box:hover {
    z-index:10;
}

.box {
    margin: 0 40px 80px 0;
    position: absolute;
}

.shot {
    object-fit: contain;
    object-position: left
}

.info {
    margin-top:-20px;
}

.buy:hover, .details:hover {
    text-decoration: underline;
}

.shownDesc {
    text-align:right;
    float:right;
    width:200px;
}

@media (max-width:400px) {
    .box,.shot {
        width:100%;
        margin:0 !important;
        position: relative;
        /* height:100%; */
    }
    body,#app {
        margin:5px;
        display: flex;
    }
    .info {
        margin-top:0px;
    }
    .shownDesc {
        background:black;
        color:white;
        padding:5px;
        position:fixed;
        top:0;
        margin-left:-10px;
        width:100%;
        text-align:initial;
        float:left;
    }
}